.scannerwork
.idea

*/bower_components

### Not upload wp-config.php to GitLab - Very first ###
wp-config.php
#.gitlab-ci.yml
# Not upload *.sql to GitLab
*.sql
# Not upload uploaded files from /wp-content/uploads/*
/wp-content/uploads/*
/wp-content/themes/olympos-master
/wp-content/themes/tu-starter-theme-v1

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### Composer ###
composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### WordPress ###
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

#Custom Logging
wp-log/*.txt

### Sass ###
wp-content/themes/tu-base-theme/assets/stylesheets/sass/dist/addons.css
wp-content/themes/tu-base-theme/assets/stylesheets/sass/dist/partials.css
wp-content/themes/tu-base-theme/assets/stylesheets/sass/dist/main.css
.sass-cache/
*.css.map

# End of https://www.gitignore.io/api/macos,bower,windows,netbeans,composer,wordpress