canvas {
	padding: 0;
	margin: auto;
	display: none;

}


.landing-page{
	position: relative;
	background: #1d1b1d;
	padding: 0px;
	overflow: hidden;
	@include mediaMaxWidth(768px){
		padding-top: 50px;
		background: #1a181a; 
	}
	.logo{
		display: block;
		position: absolute;
		left: percentage(66/1366);
		top: 35px;
		z-index: 1;
		@include mediaMaxWidth(768px){
			position: relative;
			left: initial;
			top: initial;
			margin: 0px 0px 38px;
		}
		img{
			display: block;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
	.program-name{
		position: absolute;
		right: percentage(154/1366);
		top: 33px;
		z-index: 1;
		@include mediaMaxWidth(768px){
			position: relative;
			top: initial;
			right: initial;
			padding: 0px 15px 20px;
		}
		.decor-name{
			position: absolute;
			content: '';
			left: 0;
			bottom: -44px;
			right: 0;
			height: 0;
			border-bottom: 45px solid #1d1b1d;
			border-left: 0px solid transparent;
			border-right: 0px solid transparent;
			z-index: 1;
			@include transform(rotate(180deg));
			display: none;
			@include mediaMaxWidth(768px){
				display: block;
				border-bottom: 45px solid #1a181a;  
			}
		}
		.title{
			font-family: "MONTSERRAT-REGULAR";
			font-size: 15.78px;
			color: #ffffff;
			text-transform: uppercase;
			text-align: center;
			padding-bottom: 3px;
			@include mediaMaxWidth(768px){
				font-size: 12.56px;
				padding-bottom: 0px;
			}
		}
		.name{
			width: max-content;
			width: -moz-max-content;
			margin: 2px auto 0px;
			p{
				position: relative;
				font-family: "MONTSERRAT-BOLD";
				font-size: 29.98px;
				text-align: center;
				text-transform: uppercase;
				background: linear-gradient(50deg, #83531f 0%, #a06d33 20%, #a06d33 25%, #c0894a 44%, #d69c59 63%, #ba844b 57%, #ba844b 69%, #a06d33 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				margin-bottom: 0px;
				@include mediaMaxWidth(768px){
					font-size: 23.88px;
				}
				@include mediaMaxWidth(320px){
					font-size: 21px;
				}
				&:nth-of-type(2){
					top: -4px;
				}
			}
		}
	}
	.slide-banner{
		position: relative;
		margin-bottom: -20px;
		&:before{
			position: absolute;
			content: '';
			left: 0;
			bottom: 0;
			right: 0;
			background: #201e20;
			height: 65%;
		}
		.slide-item{
			&:nth-of-type(2){
				position: relative;
				top: -40px;
				margin: 0 auto;
				width: percentage(352/1366);
				@include mediaMaxWidth(768px){
					width: 100%;
					padding: 0px 15px;
				}
				.slick-list{
					margin: 0 -5px;
					padding-bottom: 20px;
					@include mediaMaxWidth(768px){
						padding-bottom: 15px;
					}
					.slick-slide{
						margin: 0 5px;
						padding-top: 22.223%;
						height: auto;
						border-radius: 3px;
						overflow: hidden;
				pointer-events: initial;
						
						&:after{
							display: none;
						}
						&:before{
							background-image: initial;
							border: 1px solid #ffffff;
						}
						&.slick-current{
							box-shadow: 0px 5px 15px #0f0e0f;
							// @include mediaMaxWidth(768px){
							// 	border: 1px solid #d39957;
							// }
							&:before{
								border: 2px solid #d39957;
							}
						}
					}
				}
				
			}
			.slick-prev, .slick-next{
				display: none !important;
			}
			.slide{
				position: relative;
				height: calc(100vh - 60px);
				@include backgroundCoverCenter;
				background-repeat: no-repeat;
				outline: none !important;
				pointer-events: none;
				@include mediaMaxWidth(768px){
					padding-top: 22.5%;
					height: auto;
				}
				&:before, &:after{
					@include absoluteFull;
					content: '';
					background-size: cover;
					background-repeat: no-repeat;
				}
				&:before{
					background-position: center bottom;
					background-image: url('../../../images/landing-page/banner-before.png');
					@include mediaMaxWidth(768px){
						background-image: initial;
					}
				}
				&:after{
					background-position: center top;
					background-image: url('../../../images/landing-page/banner-after.png');
					@include mediaMaxWidth(768px){
						background-image: initial;
					}
				}
			}
		}
	}
	.content{
		position: relative;
		padding: 160px 0px 140px;
		min-height: 100vh;
		@include mediaMaxWidth(768px){
			padding: 100px 0px 60px;
			min-height: initial;
		}
		&:before{
			@include absoluteFull;
			content: '';
			background: #815e42;
			z-index: 1;
			opacity: 0.82;
		}
		&:after{
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			bottom: 0;
			top: 150px;
		}
		.background{
			@include absoluteFull;
			content: '';
			filter: grayscale(100%);
			background-size: cover;
			background-position: right center;
			background-repeat: no-repeat;
		}
		.decor-content{
			position: absolute;
			content: '';
			left: 0;
			top: -1px;
			right: 0;
			height: 0;
			border-bottom: 150px solid #201e20;
			border-left: 0px solid transparent;
			border-right: 0px solid transparent;
			z-index: 1;
			@include transform(rotate(180deg));
			@include mediaMaxWidth(768px){
				border-bottom: 85px solid #201e20;
			}
		}
		.decor-bottom{
			position: absolute;
			content: '';
			left: 0;
			bottom: -2px;
			width: 0;
			height: 0;
			border-left: 0px solid transparent;
			border-right: 0px solid transparent;
			border-bottom: 105px solid #1d1b1d;
			z-index: 1;
			@include mediaMaxWidth(768px){
				border-bottom: 45px solid #1a181a;
			}
		}
		.title{
			position: relative;
			padding: 0px 15px;
			z-index: 1;
			p{
				font-family: "MONTSERRAT-REGULAR";
				text-align: center;
				color: #ffe9b2;
				font-size: 24px;
				margin-bottom: 0px;
				@include mediaMaxWidth(768px){
					font-size: 16px;			
				}
				&:nth-of-type(1){
					text-transform: uppercase;
					font-family: "MONTSERRAT-BOLD";
					font-size: 29px;
					@include mediaMaxWidth(768px){
						font-size: 21px;			
					}
				}
			}
		}
		.desc{
			position: relative;
			padding: 0px 30px;
			z-index: 1;
			width: percentage(540/1110);
			margin: 60px auto 0;
			@include mediaMaxWidth(768px){
				width: 100%;
				margin-top: 25px;				
			}
			p{
				font-family: "MONTSERRAT-REGULAR";
				font-size: 16px;
				color: #ffffff;
				text-align: center;
				line-height: 26px;
				margin-bottom: 20px;
				@include mediaMaxWidth(768px){
					font-size: 14.5px;	
					line-height: 24px;	
				}
				a{
					color: #ffe9b2;
				}
			}
		}
	}
	.form{
		position: relative;
		padding: 150px 0px 100px;
		@include mediaMaxWidth(768px){
			padding: 70px 30px 0px;
		}
		.form-contact{
			width: percentage(730/1110);
			margin: 0 auto;
			overflow: hidden;

			@include mediaMaxWidth(768px){
				width: 100%;
			}
			.form-field-all{
				.form-group{
					width: calc((100% - 100px) / 2);
					margin-bottom: 40px;
					float: left;
					margin-right: 100px;
					@include mediaMaxWidth(768px){
						width: 100%;
						margin-right: 0px;
					}
					&:nth-of-type(2){
						margin-right: 0px;
					}
					&:nth-of-type(3){
						text-align: center;
						width: 100%;
						margin-right: 0px;
					}
					label{
						width: 100%;
						font-family: "MONTSERRAT-MEDIUM";
						color: #fff;
						font-size: 15px;
						margin-bottom: 10px;
						span{
							font-family: "MONTSERRAT-LIGHTITALIC";
							font-size: 12px;
						}
					}
					input{
						width: 100%;
						padding: 0;
						height: 45px;
						border: 1px solid #fff;
						border-radius: 3px;
						font-family: "MONTSERRAT-MEDIUM";
						font-size: 16px;
						color: #c38d55;
						padding: 0px 15px;
						&:focus{
							border: 1px solid #d39957;
							box-shadow: 0px 0px 10px rgba(225,225,225,.4);
							outline: none;
						}
					}
					p{
						font-family: "MONTSERRAT-LIGHTITALIC";
						font-size: 12px;
						color: #ffffff;
						margin-top: 6px;
					}
					button{
						font-family: "MONTSERRAT-BOLD";
						font-size: 15px;
						text-transform: uppercase;
						color: #343234;
						width: 155px;
						height: 39px;
						background-image: url('../../../images/landing-page/bg--submit.png');
						@include backgroundCoverCenter;
						background-repeat: no-repeat;
						background-color: initial;
						border: none;
						outline: none !important;
						cursor: pointer;
					}
				}
			}
		}
	}
	.contribution-list{
		position: relative;
		width: percentage(815/1366);
		margin: 50px auto 0px;
		@include mediaMaxWidth(768px){
			width: calc(100% - 60px);
		}
		@include mediaMaxWidth(480px){
			width: calc(100% - 30px);
			margin-top: 30px;
		}
		.title{
			background: #a1703e; 
			background: -moz-linear-gradient(left,  #a1703e 0%, #b27d47 3%, #ba844b 5%, #ba844b 30%, #d39958 41%, #d69c59 46%, #cf9654 51%, #c0894a 57%, #a77338 73%, #a06d33 79%, #a06d33 100%); 
			background: -webkit-linear-gradient(left,  #a1703e 0%,#b27d47 3%,#ba844b 5%,#ba844b 30%,#d39958 41%,#d69c59 46%,#cf9654 51%,#c0894a 57%,#a77338 73%,#a06d33 79%,#a06d33 100%); 
			background: linear-gradient(to right,  #a1703e 0%,#b27d47 3%,#ba844b 5%,#ba844b 30%,#d39958 41%,#d69c59 46%,#cf9654 51%,#c0894a 57%,#a77338 73%,#a06d33 79%,#a06d33 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1703e', endColorstr='#a06d33',GradientType=1 );
			font-family: "MONTSERRAT-BOLD";
			font-size: 29px;
			text-align: center;
			text-transform: uppercase;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			width: max-content;
			width: -moz-max-content;
			margin: 0 auto;
			@include mediaMaxWidth(768px){
				font-size: 21px;
			}
		}
		.list{
			margin: 45px auto 0px;
			width: 100%;
			@include mediaMaxWidth(480px){
				margin-top: 25px;
			}
			.fm{
				position: relative;
				&:before{
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					height: 100%;
					border: 1px solid #3c3c3c;
					content: '';
					left: 0;
					width: calc(100% - 26px);
				}
			}
			.head{
				background: -moz-linear-gradient(left,  #a1703e 0%, #b27d47 3%, #ba844b 5%, #ba844b 30%, #d39958 41%, #d69c59 46%, #cf9654 51%, #c0894a 57%, #a77338 73%, #a06d33 79%, #a06d33 100%); 
				background: -webkit-linear-gradient(left,  #a1703e 0%,#b27d47 3%,#ba844b 5%,#ba844b 30%,#d39958 41%,#d69c59 46%,#cf9654 51%,#c0894a 57%,#a77338 73%,#a06d33 79%,#a06d33 100%); 
				background: linear-gradient(to right,  #a1703e 0%,#b27d47 3%,#ba844b 5%,#ba844b 30%,#d39958 41%,#d69c59 46%,#cf9654 51%,#c0894a 57%,#a77338 73%,#a06d33 79%,#a06d33 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1703e', endColorstr='#a06d33',GradientType=1 );
				padding: 0px 50px;
				display: flex;
				align-items: center;
				height: 33px;
				width: calc(100% - 26px);
				@include mediaMaxWidth(480px){
					padding: 0px 15px;
				}
				p{
					font-family: "MONTSERRAT-SEMIBOLD";
					font-size: 15px;
					color: #1d1b1d;
					width: 60%;
					margin-bottom: 0px;
					&:nth-of-type(2){
						width: 40%;
						text-align: right;
					}
				}
			}
			.contribution-content{
				max-height: 428px;
				.item{
					display: flex;
					padding: 8px 50px;
					border-bottom: 1px solid #3c3c3c;
					@include mediaMaxWidth(480px){
						padding: 8px 15px;
					}
					&:last-child{
						border-bottom: none;
					}
					p{
						width: 60%;
						font-family: "MONTSERRAT-MEDIUM";
						font-size: 15px;
						color: #ffffff;
						text-transform: uppercase;
						margin-bottom: 0px;
						&:nth-of-type(2){
							width: 40%;
							text-align: right;
						}
						@include mediaMaxWidth(480px){
							font-size: 14.5px;
						}
					}
				}
			}
		}
	}
	.copyright{
		font-family: "MONTSERRAT-REGULAR";
		font-size: 13px;
		color: #ffffff;
		padding: 45px 15px;
		width: 100%;
		clear: both;
		background-color: #1d1b1d;
		text-align: center;
		@include mediaMaxWidth(768px){
			background: #1a181a; 
		}
	}
}
.wheel-of-fortune{
	@include absoluteItemCenter;
	position: fixed;
	margin: 0 auto;
	z-index: 10;
	display: none;
	@include mediaMaxWidth(480px){
		width: calc(100% - 30px);
	}
	.button-action{
		margin-top: 28px;
		margin: 0 auto;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "MONTSERRAT-BOLD";
		font-size: 15px;
		text-transform: uppercase;
		color: #343234;
		width: 155px;
		height: 39px;
		background-image: url('../../../images/landing-page/bg--submit.png');
		@include backgroundCoverCenter;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.popup-confirm{
		border-radius: 4px;
		width: max-content;
		width: -moz-max-content;
		margin: 0 auto;
		@include mediaMaxWidth(480px){
			width: 100%;
			padding: 0px 15px;
		}
		.content{
			position: relative;
			overflow: hidden;
			background-repeat: no-repeat;
			max-width: 280px;
			margin: 0 auto;
			._fm{
				position: absolute;
				left: 50%;
				@include transform(translateX(-50%));
				top: 0;
				margin-top: 62%;
				padding: 0px 30px;
				width: 100%;
				@include mediaMaxWidth(480px){
					padding: 0px 15px;
					margin-top: 60%;
				}
			}
			.img{
				width: 100%;
				img{
					display: block;
					width: 100%;
					height: auto;
				}
			}
			.title{
				font-family: "MONTSERRAT-BOLD";
				font-size: 16px;
				text-transform: uppercase;
				text-align: center;
				width: max-content;
				width: -moz-max-content;
				margin: 0 auto;
				padding: 10px;
				background: linear-gradient(100deg, #ffaa51 0%, #ffc054 44%, #ffd257 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				@include mediaMaxWidth(768px){
					font-size: 13px;
				}
			}
			.tag{
				font-family: "MONTSERRAT-SEMIBOLD";
				font-size: 11px;
				text-align: center;
				color: #ffffff;
			}
			.thankyou{
				font-family: "MONTSERRAT-MEDIUM";
				font-size: 10px;
				text-align: center;
				color: #2c2a2a;
				padding: 10px 0px;
				line-height: 17px;
			}
			.name{
				
				text-align: center;
				color: #2c2a2a;
				p{
					font-family: "MONTSERRAT-EXTRABOLD";
					font-size: 13.5px;
					text-transform: uppercase;
					margin-bottom: 0px;
					&:nth-of-type(1){
						font-family: "MONTSERRAT-MEDIUM";
						font-size: 10px;
						text-transform: initial;
						margin-bottom: 3px;
					}
				}
			}
			.prize{
				width: max-content;
				width: -moz-max-content;
				margin: 5px auto 0;
				text-shadow: -0.2px 3px 4.9px rgba(0, 0, 0, 0.18);
				background-image: linear-gradient(286deg, #ffe259, #ffa751), linear-gradient(to bottom, #000000, #000000);
				font-family: "MONTSERRAT-BOLD";
				font-size: 25px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				text-align: center;
				color: #000000;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		.button{
			display: flex;
			justify-content: center;
			@include mediaMaxWidth(320px){
				flex-direction: column;
				align-items: center;
			}
			.btn-confirm, .btn-share{
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: "MONTSERRAT-BOLD";
				font-size: 15px;
				text-transform: uppercase;
				color: #343234;
				width: 155px;
				height: 39px;
				background-image: url('../../../images/landing-page/bg--submit.png');
				@include backgroundCoverCenter;
				background-repeat: no-repeat;
				margin-right: 7px;
				margin-top: 25px;
				cursor: pointer;
				@include mediaMaxWidth(480px){
					margin-right: 0px;
				}
			}
			.btn-share{
				margin-right: 0px;
				@include mediaMaxWidth(320px){
					margin-top: 15px;
				}
			}
		}
	}
	canvas{
		width: 100% !important;
		height: 100% !important;
	}
}
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	background-color: #141414;
	display: none;
	cursor: pointer;
}
.mCSB_scrollTools{
	width: 6px;
	opacity: 1;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width: 4px;
	background-color: #363636;
	border-radius: initial;
	filter: initial;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width: 6px;
	border-radius: initial;
	background-color: #d69c59 !important;
}
.mCSB_inside > .mCSB_container{
	margin-right: 26px;
}