// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'VLEncorpadaClassic';
    src: url('../../../fonts/VL_dooType-EncorpadaClassic.otf')  format('opentype');
    font-weight: normal;
    font-style: normal;
}
